@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    /*background:url("static/bg1.jpeg")no-repeat;*/
    background-position: center;
    background-size: cover;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 100vh;
    padding: 0 1.7rem;
    color: rgb(247, 205, 205);
    overflow: hidden;
    transition: all 0.5s linear;
    background: #f0eff5;
}
.sidebar:hover{
    width: 330px;
    transition: 0.5s;
}    
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active{
background: #e0e0e058;
}
.menu a{
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
} 
.menu a i{
    font-size: 1.2rem;
}    
.logout{
    position: absolute;
    bottom: o;
    left: 0;
    width: 100%;
}
    
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title{
    color: rgb(49, 6, 159);
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search--box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 4px 12px;
}
.search--box input{
    background: transparent;
    padding: 10px;
}
.search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search--box i:hover{
    transform: scale(1.2);
}
.card--container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    padding: 2rem;
    border-radius: 10px;
}
.card--wrapper{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; 
    gap: 1rem;
}
.main--title{
    color: rgba(113, 99, 186, 255);
    padding: 10px;
    font-size: 20px;
}
.payment--card{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment--card:hover{
    transform: translate(-5px);
}
.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 14px;
    font-weight: 600;
}
.amount--value{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}
.icon{
    color: white;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}
.card-detail{
    font-size: 14px;
    color:black;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}
.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}
.tabular--wrapper{
    background: white;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table--container{
    width: 100%;;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgb(221, 239, 246);
    color: black;
    
}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: whitesmoke;
}
td{
    padding: 15px;
    font-size: 14px;
    color: black;
}
tr:nth-child(even){
    background: white;
}
tfoot{
    background: rgb(221, 239, 246);
    font-weight: bold;
    color: black;
}
tfoot td{
    padding: 15px;
}
.table--container button{
    color: green;
    background: none;
    cursor: pointer;
}

