<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static "css/index.css"%}">
    <link rel="icon" href="static/image/logo.png">
    <title>Login - FraudPredict</title>
    <!-- <h2>FraudPredict</h2> -->
</head>
<body>
    <section>
        <div class="form-box">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form-value">
                <form method="post">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" required>
                        <label for="">Email</label>
                    </div>

                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="">Password</label>
                    </div>

                    <div class="forget">
                        <label for=""><input type="checkbox" name="remember_me">Remember me <a href="#">Forget Password</a></label>    
                    </div>

                    <button type="submit">Log in</button>
                    
                    <div class="register">
                        <p>Don't have an account? <a href="{% url "signup"%}">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>